@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    @apply bg-background-primary font-sans text-text-primary;
  }

  h1 {
    @apply text-4xl font-medium;
  }
}

@layer components {
  .button {
    @apply flex cursor-pointer items-center rounded-medium bg-gray-light px-4 py-2 text-sm font-medium text-white transition-all duration-200 hover:bg-teal-dark disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:bg-gray-light;

    svg {
      @apply h-4 w-4;
    }
  }

  .button-teal {
    @apply button bg-teal-light px-4 py-2 text-teal-dark hover:bg-teal-dark hover:text-teal-lighter;
  }

  .button-red {
    @apply button bg-red-light px-4 py-2 text-red-dark hover:bg-red-dark hover:text-red-lighter;
  }

  .status {
    line-height: normal !important;
    @apply rounded-medium px-1 text-xs font-bold capitalize leading-loose shadow-sm;
  }

  .status-grey {
    @apply status bg-gray-light text-white;
  }
  .status-gold {
    @apply status bg-gold-dark text-gold-light;
  }
  .status-green {
    @apply status bg-green-dark text-green-light  shadow-green-light;
  }
  .status-red {
    @apply status bg-red-dark text-red-lighter;
  }

  .card-item {
    @apply flex cursor-pointer items-center bg-background-secondary px-card_pad py-3 transition-all duration-100 ease-in-out even:bg-background-active hover:bg-background-active_hover;
  }

  .nav-item {
    @apply border-b-2 border-b-transparent text-sm font-semibold uppercase tracking-wider transition-all duration-200 hover:border-b-teal-light;
  }

  .nav-item-active {
    @apply border-b-teal-light;
  }

  .env-section {
    @apply flex-1;

    .variable,
    .value {
      @apply -mx-6 break-all py-2 px-6 text-text-muted even:bg-background-active_hover last-of-type:-mb-2;
    }

    .variable {
      @apply font-semibold;
    }

    .value {
      @apply font-normal;
    }
  }
}

@layer utilities {
  .divider {
    @apply h-[2px] w-full bg-gray-darkest;
  }

  .transition-custom {
    @apply transition-all duration-100 ease-in-out;
  }
}
