@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    @apply bg-background-primary text-text-primary;
  }

  h1 {
    @apply text-4xl font-medium;
  }
}

@layer components {
  .button {
    @apply cursor-pointer rounded-medium bg-gray px-4 py-2 text-sm font-medium text-white transition-all duration-200 hover:bg-teal-dark;
  }

  .status {
    @apply rounded-medium px-1 text-xs font-bold capitalize leading-loose;
  }

  .status-grey {
    @apply status bg-gray text-white;
  }
}

@layer utilities {
  .divider {
    @apply h-[2px] w-full bg-background-active;
  }

  .card-item {
    @apply flex bg-background-secondary px-card_pad py-3 hover:bg-background-active;
  }
}
